
.contentDiv {
    color: white;
    transition: 0.5s;
    width: 90%;
    margin: auto;
}

.contentDiv1 {
    color: white;
    transition: 0.5s;
    width: 25%;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    height: 95vh;
    background-color: black;
}

.content-inner {
    height: 100%;
}

.profileDiv {
    width: 70%;
    text-align: center;
    margin: 20px auto;
    background-color: rgb(255, 0, 0);
    border-radius: 1000px;
    overflow: hidden;

}

.contain-right {
    width: 50%;
    text-align: center;
}

.profileDiv img {

    width: 100%;
    z-index: -100;
    object-fit: cover;
}

.contain-right img {
    width: 90%;
    z-index: -100;
    object-fit: cover;
}

i {
    font-size: 20px;
    margin-right: 10px;
}

#cta-btn {
    background-color: rgb(115, 0, 255);
    border: 0;
    padding: 5px 20px;
    border-radius: 200px;
    color: white;
    margin-top: 50px;

}

.content-inner p {
    margin: 10px 0px;
    line-height: 30px;
}


.ach-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: 100%;
}
