@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*:not(i) {
    font-family: 'Poppins' !important;
    word-break: break-word;
}

.navLinks {
    background-color: #4440ED;
    color: white;
    margin: 10px 10px;
    padding: 5px 10px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 12px;
}


.navLinks:hover {
    color: white;
    opacity: 0.8;
    transition: 0.5s;
}

.navLinks i {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 0px;
}

i {
    margin: 0;
    padding: 0;
}

.fa-external-link {
    font-size: 13px;
}

.fullHeight {
    height: 70vh;
}

html {
    scroll-behavior: smooth;
}

p {
    color: white;
    cursor: pointer;
}



a {
    color: white;
    text-decoration: none;
}

.navbar {
    width: 90%;
    margin: auto;
    padding: 0;
    color: white !important;
}

i:hover {
    transition: 0.5s;
    opacity: 0.8;
}

body {
    background-color: black;
    overflow: hidden;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.default {
    border-bottom: 2px solid red;
}

.projectContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: auto;
    flex-direction: column;
}

.contain {
    width: 90%;
    margin: auto;
}










@media screen and (max-width:768px) {


    .projectContent {
        flex-direction: column-reverse;
        height: auto;
    }

    .projectCard {
        width: 95vw !important;
        margin: auto !important;
        overflow: none;
    }

    .projectCardImage {
        width: 84vw !important;
    }

    .contentDiv {
        height: auto;
    }

    .content-inner {
        flex-direction: column-reverse;
    }

    .contain-right {
        overflow: hidden;
    }

    .contain,
    .link-box,
    .profileDiv,
    .ach-box,
    #cta-btn,
    .contain-right {
        width: 90%;
        margin: 10px auto;
    }

    .exp-card {
        width: 90vw !important;
    }


}



.contentChips {
    color: white;
    text-align: center;
    justify-content: center;
    width: 90%;
    display: flex;
    flex-wrap: wrap;

}

.contentChips p {
    background-color: rgb(15, 15, 15);
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 200px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.selected {
    background-color: rgb(98, 2, 187) !important;
}

.bigText {
    font-size: 25px;
    margin-bottom: 0;
    padding: 0;
}

.smallText {
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}

.projectCard {
    width: 25vw;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    margin: 10px 20px
}

.projectCard:hover{
    scale: 1.02;
    transition: .5s;
    rotate: -1deg;
}

.projectCardLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectCardLinks i {
    font-size: 13px;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.projectCard p {
    font-size: 12px;
    line-height: 10px;
}

.projectCardText {
    width: 90%;
    margin: auto;
}

.projectCard h3 {
    margin: 5px 0px
}

.projectCard:hover .projectCardImage {
    display: none;
}

.projectCardImage {
    width: 25vw;
    transition: 1s;
    border-radius: 10px;
    position: absolute;
    height: 32vh;
}

.socialLink {
    margin: 0px 5px;
}

.contentChips1 {
    color: white;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
}

.contentChips1 p {
    background-color: rgb(15, 15, 15);
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 10px;
    border-radius: 200px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.choosePara {
    letter-spacing: 10px;
}


#experience h1 {
    color: white;
    text-align: center;
    letter-spacing: 5px;
}

.exp-card {
    display: flex;
    color: white;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin: 10px auto;
    padding: 10px;
    flex-wrap: wrap;
}

.exp-card div {
    width: 70%;
}

.exp-card h5,
h3 {
    margin: 10px 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*:not(i) {
    font-family: 'Kanit' !important;
    word-break: break-word;
}

.height100 {
    height: 100vh;

}

.width100 {
    width: 100vw;
}

a {
    text-decoration: none !important;
}

body {
    background-repeat: no-repeat;
    background-color: #000;
    background-size: contain;
    width: '100%';
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

#home,
#about,
#projectMain,
#project1,
#project2,
#project3,
#project4,
#project5,
#project6,
#designPage,
#mini-projects,
#jobMain {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calenderFrame {
    height: 56vh;
    width: 100%;
}

#home {
    position: absolute;
    top: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
}

#design {
    position: absolute;
    top: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
}

#designPage {
    background: url('./assets/hisaab1.png')
}

.centeredHeading {
    font-size: 140px;
    margin-bottom: 0px;
    letter-spacing: 10px;
    background: linear-gradient(to right, yellow, rgb(99, 205, 99));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

b {
    color: rgb(251, 255, 25);
}

.centeredPara {
    font-size: 18px;
    font-family: 'Poppins';
    width: 100%;
    margin: auto;
    margin-top: 0px;
    color: white;
    line-height: 30px;
}

.centeredDiv {
    text-align: center;
}

.centerBlue {
    background: -webkit-linear-gradient(white, rgb(97, 188, 219)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;


}

.calender {
    color: white;
    width: 600px !important;
    background-color: white !important;
}


.js-calender-graph {
    border: 0px !important;
}

.socialIcon {
    color: white;
    font-size: 40px;
}

.socialIcon:hover {
    scale: 1.2;
    transition: 0.3s linear;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
    width: 50%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#about .linkContainer {
    width: 80%;
}

.text-prim {
    color: #4440ED
}

.btn-grad {
    background-color: #4440ED;
    margin: 20px auto;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 200px;
    display: block;
    border: 0px;
    letter-spacing: 7px;
    line-height: 20px
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
}


.gridHead {
    letter-spacing: 7px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-linear-gradient(white, #FFE8AD) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}


.gridDiv {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: poppins;
    margin-top: 50px;

}

.gridCol {
    width: 33%;
    text-align: center;
}

.gridPara {
    width: 60%;
    margin: 10px auto;
    line-height: 40px;
}

@media screen and (max-width:990px) {
    .gridDiv {
        flex-direction: column;
        margin: 0px auto;
    }

    .centeredHeading {
        font-size: 80px;
        width: 90%;
        margin: 0px auto
    }

    .centeredPara {
        font-size: 14px;
        width: 95%;
    }

    .gridPara {
        font-size: 14px;
        width: 95%;
    }

    .gridCol {
        width: 80%;
        margin: 20px auto
    }

    .gridPara {
        width: 100%;
    }

    .calender {
        display: none;
    }


    #animation {
        height: fit-content;
    }

    #about {
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
    }

    #github-graph {
        display: none;
    }

    .projectCard {
        flex-direction: column;
    }

    .projectCard div {
        width: 90%;
    }

    .js-calender-graph-svg {
        width: 100% !important;
    }
}

@media screen and (max-width:658px) {
    .gridDiv {
        flex-direction: column;
        margin: 0px auto;
    }

    .js-calender-graph-svg {
        width: 100% !important;
    }

    #animation {
        height: 100vh;
    }

    #design {
        top: 100vh
    }

    #home {
        height: 100vh;
    }

    .centeredHeading {
        font-size: 50px;

    }

    .centeredPara {
        font-size: 12px;
        width: 85%;
    }

    .gridCol {
        width: 80%;
        margin: 20px auto
    }

    .gridPara {
        width: 100%;
    }

    .btn-grad {
        padding: 20px 20px !important;
        width: 80%;
    }

    .mini-projects div {
        width: 100%;
    }

    .linkChipContainer {
        flex-direction: row;
    }

    .linkChipContainer a {
        display: block;
    }

    .calender {
        display: none;
    }
}

.gigLinks a img {
    border-radius: 200px;
    margin: 10px;
}

a {
    text-decoration: none;
    font-family: bold;
}


.no-height {
    height: fit-content !important;
}

.linkChip {
    background: linear-gradient(235deg, #2966b7 0%, #003250 100%);
    text-decoration: none;
    color: white;
    font-family: poppins;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
}




.leftPortify p {
    font-size: 13px !important;
}

body {
    padding: 0px;
    margin: 0px;
}


.sidebar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #121212;
    top: -10;
    padding: 10px;
    position: fixed;
    height: 100vh;
    margin: 0px;
}

.side-link {
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: Poppins;
    text-align: center;

}

.side-link:hover {
    opacity: 0.5;
    transition: 0.5s;
}





.hero {
    font-size: clamp(100px, 10vw, 140px);
    margin: 20px !important;
    line-height: 1;
    color: #fff;
    z-index: 2;
    /* letter-spacing: 10px; */
    filter: drop-shadow(0 1px 3px, black);
}


.layers {
    position: relative;
}

.layers::before,
.layers::after {
    content: attr(data-text);
    position: absolute;
    width: 110%;
    z-index: -1;
}

.layers::before {
    top: 10px;
    left: 15px;
    color: #e0287d;
}

.layers::after {
    top: 5px;
    left: -10px;
    color: #1bc7fb;
}

.single-path {
    clip-path: polygon(0% 12%,
            53% 12%,
            53% 26%,
            25% 26%,
            25% 86%,
            31% 86%,
            31% 0%,
            53% 0%,
            53% 84%,
            92% 84%,
            92% 82%,
            70% 82%,
            70% 29%,
            78% 29%,
            78% 65%,
            69% 65%,
            69% 66%,
            77% 66%,
            77% 45%,
            85% 45%,
            85% 26%,
            97% 26%,
            97% 28%,
            84% 28%,
            84% 34%,
            54% 34%,
            54% 89%,
            30% 89%,
            30% 58%,
            83% 58%,
            83% 5%,
            68% 5%,
            68% 36%,
            62% 36%,
            62% 1%,
            12% 1%,
            12% 34%,
            60% 34%,
            60% 57%,
            98% 57%,
            98% 83%,
            1% 83%,
            1% 53%,
            91% 53%,
            91% 84%,
            8% 84%,
            8% 83%,
            4% 83%);
}

.paths {
    animation: paths 5s step-end infinite;
}

@keyframes paths {
    0% {
        clip-path: polygon(0% 43%,
                83% 43%,
                83% 22%,
                23% 22%,
                23% 24%,
                91% 24%,
                91% 26%,
                18% 26%,
                18% 83%,
                29% 83%,
                29% 17%,
                41% 17%,
                41% 39%,
                18% 39%,
                18% 82%,
                54% 82%,
                54% 88%,
                19% 88%,
                19% 4%,
                39% 4%,
                39% 14%,
                76% 14%,
                76% 52%,
                23% 52%,
                23% 35%,
                19% 35%,
                19% 8%,
                36% 8%,
                36% 31%,
                73% 31%,
                73% 16%,
                1% 16%,
                1% 56%,
                50% 56%,
                50% 8%);
    }

    5% {
        clip-path: polygon(0% 29%,
                44% 29%,
                44% 83%,
                94% 83%,
                94% 56%,
                11% 56%,
                11% 64%,
                94% 64%,
                94% 70%,
                88% 70%,
                88% 32%,
                18% 32%,
                18% 96%,
                10% 96%,
                10% 62%,
                9% 62%,
                9% 84%,
                68% 84%,
                68% 50%,
                52% 50%,
                52% 55%,
                35% 55%,
                35% 87%,
                25% 87%,
                25% 39%,
                15% 39%,
                15% 88%,
                52% 88%);
    }

    30% {
        clip-path: polygon(0% 53%,
                93% 53%,
                93% 62%,
                68% 62%,
                68% 37%,
                97% 37%,
                97% 89%,
                13% 89%,
                13% 45%,
                51% 45%,
                51% 88%,
                17% 88%,
                17% 54%,
                81% 54%,
                81% 75%,
                79% 75%,
                79% 76%,
                38% 76%,
                38% 28%,
                61% 28%,
                61% 12%,
                55% 12%,
                55% 62%,
                68% 62%,
                68% 51%,
                0% 51%,
                0% 92%,
                63% 92%,
                63% 4%,
                65% 4%);
    }

    45% {
        clip-path: polygon(0% 33%,
                2% 33%,
                2% 69%,
                58% 69%,
                58% 94%,
                55% 94%,
                55% 25%,
                33% 25%,
                33% 85%,
                16% 85%,
                16% 19%,
                5% 19%,
                5% 20%,
                79% 20%,
                79% 96%,
                93% 96%,
                93% 50%,
                5% 50%,
                5% 74%,
                55% 74%,
                55% 57%,
                96% 57%,
                96% 59%,
                87% 59%,
                87% 65%,
                82% 65%,
                82% 39%,
                63% 39%,
                63% 92%,
                4% 92%,
                4% 36%,
                24% 36%,
                24% 70%,
                1% 70%,
                1% 43%,
                15% 43%,
                15% 28%,
                23% 28%,
                23% 71%,
                90% 71%,
                90% 86%,
                97% 86%,
                97% 1%,
                60% 1%,
                60% 67%,
                71% 67%,
                71% 91%,
                17% 91%,
                17% 14%,
                39% 14%,
                39% 30%,
                58% 30%,
                58% 11%,
                52% 11%,
                52% 83%,
                68% 83%);
    }

    76% {
        clip-path: polygon(0% 26%,
                15% 26%,
                15% 73%,
                72% 73%,
                72% 70%,
                77% 70%,
                77% 75%,
                8% 75%,
                8% 42%,
                4% 42%,
                4% 61%,
                17% 61%,
                17% 12%,
                26% 12%,
                26% 63%,
                73% 63%,
                73% 43%,
                90% 43%,
                90% 67%,
                50% 67%,
                50% 41%,
                42% 41%,
                42% 46%,
                50% 46%,
                50% 84%,
                96% 84%,
                96% 78%,
                49% 78%,
                49% 25%,
                63% 25%,
                63% 14%);
    }

    90% {
        clip-path: polygon(0% 41%,
                13% 41%,
                13% 6%,
                87% 6%,
                87% 93%,
                10% 93%,
                10% 13%,
                89% 13%,
                89% 6%,
                3% 6%,
                3% 8%,
                16% 8%,
                16% 79%,
                0% 79%,
                0% 99%,
                92% 99%,
                92% 90%,
                5% 90%,
                5% 60%,
                0% 60%,
                0% 48%,
                89% 48%,
                89% 13%,
                80% 13%,
                80% 43%,
                95% 43%,
                95% 19%,
                80% 19%,
                80% 85%,
                38% 85%,
                38% 62%);
    }

    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
        clip-path: none;
    }
}

.movement {
    /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
    position: relative;
    animation: movement 8s step-end infinite;
}

@keyframes movement {
    0% {
        top: 0px;
        left: -20px;
    }

    15% {
        top: 10px;
        left: 10px;
    }

    60% {
        top: 5px;
        left: -10px;
    }

    75% {
        top: -5px;
        left: 20px;
    }

    100% {
        top: 10px;
        left: 5px;
    }
}

.opacity {
    animation: opacity 5s step-end infinite;
}

@keyframes opacity {
    0% {
        opacity: 0.1;
    }

    5% {
        opacity: 0.7;
    }

    30% {
        opacity: 0.4;
    }

    45% {
        opacity: 0.6;
    }

    76% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.8;
    }

    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
        opacity: 0;
    }
}

.font {
    animation: font 7s step-end infinite;
}

@keyframes font {
    0% {
        font-weight: 100;
        color: #e0287d;
        filter: blur(3px);
    }

    20% {
        font-weight: 500;
        color: #fff;
        filter: blur(0);
    }

    50% {
        font-weight: 300;
        color: #1bc7fb;
        filter: blur(2px);
    }

    60% {
        font-weight: 700;
        color: #fff;
        filter: blur(0);
    }

    90% {
        font-weight: 500;
        color: #e0287d;
        filter: blur(6px);
    }
}

.glitch span {
    animation: paths 5s step-end infinite;
}

.glitch::before {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
        font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
    animation: paths 5s step-end infinite, opacity 5s step-end infinite,
        font 7s step-end infinite, movement 8s step-end infinite;
}

.hero-container {
    position: relative;
    /* padding: 200px 0; */
    text-align: center;
}

.environment {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    filter: blur(5px);
}


@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

.top-outer {
    transform-origin: 73px 69px;
    animation: rotate 30s linear infinite;
}

.top-inner {
    transform-origin: 73px 69px;
    animation: rotate 20s linear infinite;
}

.bottom-outer {
    transform-origin: 134px 222px;
    animation: rotate 30s linear infinite;
}

.bottom-inner {
    transform-origin: 134px 222px;
    animation: rotate 20s linear infinite;
}